<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Downloads - Swartdog Stampede</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
        <nav class="top-nav">
    <div class="nav-container">
        <a href="{{ url_for('start') }}">Home</a>
        <a href="{{ url_for('downloads') }}">Documents and Video</a>
    </div>
</nav>
    <h1>Documents and Video</h1>
    <div class="pdf-container">
    <div class="pdf-card">
        <h3>Rules</h3>
        <iframe src="{{ url_for('static', filename='pdfs/rules.pdf') }}" width="100%" height="400px"></iframe>
        <a href="{{ url_for('static', filename='pdfs/rules.pdf') }}" download>Download PDF</a>
    </div>
    <div class="pdf-card">
        <h3>Facilitator Guide</h3>
        <iframe src="{{ url_for('static', filename='pdfs/facilitator_guide.pdf') }}" width="100%" height="400px"></iframe>
        <a href="{{ url_for('static', filename='pdfs/facilitator_guide.pdf') }}" download>Download PDF</a>
    </div>
    <div class="pdf-card">
        <h3>Score Sheet</h3>
        <iframe src="{{ url_for('static', filename='pdfs/score_sheet.pdf') }}" width="100%" height="400px"></iframe>
        <a href="{{ url_for('static', filename='pdfs/score_sheet.pdf') }}" download>Download PDF</a>
    </div>
    <div class="pdf-card">
    <h3>Swartdog Game Video</h3>
    <iframe width="100%" height="400px" 
        src="https://www.youtube.com/embed/wRhKlat86ps" 
        title="Game Video" frameborder="0" allowfullscreen>
    </iframe>
</div>
</div>

<div class = "footer">
<a href="https://stampede.525swartdogs.org">Swartdogs Stampede</a> © 2026 by <a href="https://525swartdogs.org">525 Swartdogs</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
</div>
</body>
</html>