<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rankings</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Team Rankings</h1>

    <table>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Avg RP</th>
            <th>Avg Match Points</th>
            <th>Avg Auto</th>
        </tr>

        {% for team in teams %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ team.name }}</td>
            <td>{{ "%.2f"|format(team["avg_rp"]) }}</td>
            <td>{{ "%.2f"|format(team["avg_match"]) }}</td>
            <td>{{ "%.2f"|format(team["avg_auto"]) }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="button-container">
        {% if current_match < total_matches %}
        <form action="{{ url_for('match') }}" method="get">
            <button type="submit">Next Match</button>
        </form>
        {% else %}
        <p>All matches completed!</p>
        {% endif %}
    </div>

    
<!-- Bottom running ticker -->
<div id="bottomTicker">
    <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="logo" class="ticker-logo">
    <div id="tickerContent">
        {% for m in next_matches %}
            <span class="ticker-item">
                <strong>Match {{ m.num }}:</strong>
                <span class="ticker-red">{{ m.red | join(', ') }}</span>
                vs
                <span class="ticker-blue">{{ m.blue | join(', ') }}</span>
            </span>
        {% endfor %}
    </div>
</div>

<div class = "footer">
<a href="https://stampede.525swartdogs.org">Swartdogs Stampede</a> © 2026 by <a href="https://525swartdogs.org">525 Swartdogs</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
</div>

</body>
</html>
