<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Simulation Match Schedule</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
 
</head>
<body>
    <h1>FRC Match Schedule</h1>

    <table>
        <tr>
            <th>Match #</th>
            <th>Red Alliance</th>
            <th>Blue Alliance</th>
        </tr>

        {% for match in matches %}
        <tr>
            <td>{{ match.num }}</td>
            <td class="red">
                {% for team in match["red"] %}
                    {{ team }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td class="blue">
                {% for team in match["blue"] %}
                    {{ team }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="button-container">
        <form action="{{ url_for('match') }}" method="get">
            <button type="submit">Start Event</button>
        </form>
    </div>
</body>
</html>
