<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Simulation</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class = "page-center">
    <nav class="top-nav">
    <div class="nav-container">
        <a href="{{ url_for('start') }}">Home</a>
        <a href="{{ url_for('downloads') }}">Documents and Video</a>
    </div>
</nav>

    <div class="container-card">
        <div class="logo-banner">
            <img src="{{ url_for('static', filename='images/longLogo.png') }}" alt="Swartdogs Logo">
        </div>
        <h1>SWARTDOG STAMPEDE</h1>
        <div class="subtitle">
            Enter 12 teams, one per line
        </div>

        <form action="{{ url_for('schedule') }}" method="post">
            <textarea name="names" placeholder="Team A
Team B
Team C
Team D
Team E
Team F
Team G
Team H
Team I
Team J
Team K
Team L"></textarea>

            <div class="hint">
                • One team per line<br>
                • Letters, numbers, or names are fine
            </div>

            <div class="submit-btn">
    <button type="submit">Generate Schedule</button>
</div>
        </form>

    </div>

</body>
</html>
